<form class="flex flex-col gap-2"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">
  <!-- Email -->
  <label class="input validator">
    <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2.5"
        fill="none"
        stroke="currentColor"
      >
        <rect width="20" height="16" x="2" y="4" rx="2"></rect>
        <path d="m22 7-8.97 5.7a1.94 1.94 0 0 1-2.06 0L2 7"></path>
      </g>
    </svg>
    <input
        type="email"
        placeholder="mail@site.com"
        formControlName="email" />
  </label>
  <!-- Password -->
  <label class="input validator">
    <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
      <g
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2.5"
        fill="none"
        stroke="currentColor"
      >
        <path
          d="M2.586 17.414A2 2 0 0 0 2 18.828V21a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h1a1 1 0 0 0 1-1v-1a1 1 0 0 1 1-1h.172a2 2 0 0 0 1.414-.586l.814-.814a6.5 6.5 0 1 0-4-4z"
        ></path>
        <circle cx="16.5" cy="7.5" r=".5" fill="currentColor"></circle>
      </g>
    </svg>
    <input
      type="password"
      placeholder="Password"
      title="Must be more than 8 characters, including number, lowercase letter, uppercase letter"
      formControlName="password"
    />
  </label>


  <button type="submit" class="btn btn-secondary font-montsw">Login</button>

  <p class="text-slate-700">Not a member? <a class="text-secondary" [routerLink]="['/auth/register']">Register here</a></p>
</form>

@if (hasError()) {
    <alert />
  }

<!--
<div class="row">
    <div class="col">

        <span>Valid</span>
        <pre>{{ loginForm.valid| json }}</pre>

        <span>Pristine</span>
        <pre>{{ loginForm.pristine| json }}</pre>

        <span>Touched</span>
        <pre>{{ loginForm.touched| json }}</pre>

        <span>Value</span>
        <pre>{{ loginForm.value | json }}</pre>

        <span>Errors (email)</span>
        <pre>{{ loginForm.controls['email'].errors| json }}</pre>

        <span>Errors (password)</span>
        <pre>{{ loginForm.controls['password'].errors| json }}</pre>
    </div>
</div>

-->
