@import "tailwindcss";
@plugin "daisyui" {
  themes: night --default;
}
@layer base {
  @font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat/montserrat-alternates-medium.ttf')
          format('truetype');
  }
}

@theme {
  --animate-fade-in: fade-in 0.3s ease-out;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}


.font-montserrat {
  font-family: 'Montserrat';
}
